/*
	Styling file for my Portfolio website
*/

/* Styling body */
body{
	background-image: url("../images/dust_scratches.png");
	padding-bottom: 70px;
}

.myStyleContainer {
	background-color: #fff;
	border: 1px solid #000;
	margin-bottom: 20px;
}

.myStyleContainer h2{
	font-family: 'Fjalla One', sans-serif;
	font-size: 35px;
}

.myStyleContainer h3{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	color: #555555;
	margin-left: 5px;
	margin-top: 0px;
	line-height: 3.5rem;
	word-spacing: 1.5px;
}

.myStyleContainer h4{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	color: #317EAC;
	margin-left: 5px;
}

.panel-body h4 {
	display: inline;
	color: darkblue;
	text-shadow: 1px 1px #ccc;
}

.panel-body a{
	text-decoration: none;
}

.panel-body ul li{
	list-style-type: none;
	display: inline;
}

.col-xs-12 a{
	text-decoration: none;
	color: #000;
}

.colStyle{
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.portfolioTextStyle{
	text-shadow: 1px 1px #ccc;
	word-spacing: 0.2em;
}

.portfolioTextStyle h4 {
	color: #1a0666;
	font-family: 'Fjalla One', sans-serif;
	font-size: 20px;
}

.portfolioTextStyle img:hover {
	opacity: 0.8;
	border: 1px solid darkblue;
}

.aboutMeStyle{
	margin-bottom: 15px;
	margin-right: -22px;
}

.contactMeStyle{
	margin-bottom: 15px;
	margin-right: -22px;
}

.paragraphStyle{
	text-align: justify;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	word-spacing: 0.4px;
}

.panelStyle{
	background-color: #ffffff;
}

.navbar-brand-style{
	font-size: 14px;
	text-align: center;
}

.connectMePanel {
	text-align: center;
	font-size: 28px;
	font-family: 'Stylish', sans-serif;
	letter-spacing: 0.2rem;
	word-spacing: 0.05rem;
}

.myName{
	font-size: 24px;
	text-align: center;
	letter-spacing: 0.1rem;
	word-spacing: 0.1rem;
}

.footerStyle{
	text-align: center;
}

.navbarStyle{
	text-align: center;
	letter-spacing: 0.1rem;
}

.headerprofile{
	display: none;
}

@media screen and (min-width:768px){
	.headerprofile{
		display: inline-block;
		margin-top: 5px;
	}
}

@media screen and (max-width:543px){
	.myStyleContainer h4{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	color: #317EAC;
	margin-left: 5px;
	}
}

@media screen and (max-width:443px){
	.myStyleContainer h4{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 12px;
	color: #317EAC;
	margin-left: 5px;
	}
}

@media screen and (max-width:393px){
	.myStyleContainer h4{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 10px;
	color: #317EAC;
	margin-left: 5px;
	}
}

@media screen and (max-width:339px){
	.myStyleContainer h4{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 8px;
	color: #317EAC;
	margin-left: 5px;
	}
}