/*
	Styling file for my Portfolio website
*/

/* Styling body */
body{
	background-image: url("../images/dust_scratches.png");
}

.myStyleContainer {
	background-color: #fff;
	border: 1px solid #000;
	margin-bottom: 20px;
}

.panel-body h4 {
	display: inline;
	color: darkblue;
	text-shadow: 1px 1px #ccc;
}

.panel-body a{
	text-decoration: none;
}

.panel-body ul li{
	list-style-type: none;
	display: inline;
}
.col-xs-12 a{
	text-decoration: none;
	color: #000;
}

.colStyle{
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.portfolioTextStyle{
	text-shadow: 1px 1px #ccc;
	word-spacing: 0.2em;
}

.aboutMeStyle{
	margin-bottom: 15px;
}

.paragraphStyle{
	text-align: justify;
}
.panelStyle{
	background-color: #ffffff;
}
.navbar-brand-style{
	font-size: 14px;
	text-align: center;
}

.connectMePanel {
	text-align: center;
	font-size: 18px;
}

.myName{
	font-size: 24px;
	text-align: center;
}

.footerStyle{
	text-align: center;
}

.navbarStyle{
	text-align: center;
}